/* @import "tailwindcss";

@theme {
  --color-primary: #5F6FFF;
}

::-webkit-scrollbar{
  @apply hidden
}

*{
  font-family: Outfit;
} */


@import "tailwindcss";

@theme {
  --color-primary: #5F6FFF;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Outfit', sans-serif;
}